ALTER TABLE seller_documents ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Admins can insert seller documents" ON seller_documents;

CREATE POLICY "Admins can insert seller documents" 
  ON seller_documents FOR INSERT 
  TO authenticated 
  WITH CHECK (EXISTS (
    SELECT 1 FROM users WHERE id = auth.uid() AND role = 'admin'
  ));

CREATE POLICY "Admins can update seller documents" 
  ON seller_documents FOR UPDATE 
  TO authenticated 
  USING (EXISTS (
    SELECT 1 FROM users WHERE id = auth.uid() AND role = 'admin'
  ))
  WITH CHECK (EXISTS (
    SELECT 1 FROM users WHERE id = auth.uid() AND role = 'admin'
  ));
